
:root {
	font-size: calc(16px + 0.5vh);
	font-family: "Red Hat Mono", monospace;
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;

	background-image: linear-gradient(rgba(256,256,256, 1), rgba(256,256,256, 0.85)), url("/strawberry-pattern.svg");
	background-size: 5rem;

	animation: move 10s linear infinite;
}

@keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 5rem 0;
	}
}

header {
	min-height: 4.75rem;
	padding: 1rem;
	border-bottom: 6px black solid;
	background-color: white;

	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;

	h2 {
		margin: 0;
	}

	div.connect-button-skeleton {
		width: 9rem;
		height: 1.9rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

p {
	margin: 0;
}

main {
	padding: 7.5rem;
	display: flex;
	justify-content: center;
	align-items: center;

	section {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		gap: 3.5rem;

		div {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			gap: 2.5rem;
		}

		div.controllers {
			flex-direction: column;
			gap: 1rem;

			button {
				width: 16rem;
				height: 4rem;
				border-radius: 8px;
				border: 2px solid black;
				box-shadow: -4px 4px black;
				font-size: inherit;
				font-family: inherit;
				background-color: #ff2200;
				color: white;
				transition: all 0.1s;
				transition: box-shadow 0.25s ease;
				cursor: pointer;
			}

			button:hover:not(:disabled) {
				box-shadow: -6px 6px black;
			}

			button:active {
				box-shadow: 0 0;
			}

			input {
				font-size: inherit;
				font-family: inherit;
				border: 2px solid black;
				border-radius: 8px;
				padding: 0.5rem;
				background-color: white;
			}
		}

		div.information {
			flex-direction: column;
			gap: 1rem;
		}
	}

	section.skeleton {
		div.controllers {
			button {
				background-color: #b51800;
				cursor: not-allowed;
			}

			button:active {
				box-shadow: -4px 4px black;
			}
		}
	}

	.emoji {
		display: inline-block;
		margin-left: 0.45em;
		animation: rotate 2.5s linear infinite;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 730px) {
	header {
		flex-direction: column;
	}

	main {
		padding: 5rem;
		section {
			gap: 1rem;
			div.controllers {
				gap: 3rem;

				div.amount {
					flex-direction: column;
					gap: 0;
				}
			}
		}
	}
}